<div class="container row">
  <% if user_signed_in? %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="container board ">

      <div class="header-h1">
        <h1>
          Your dasboard: <%= @dashboard.title %>
        </h1>
      </div>

      <% @dashboard.lists.each do |list| %>
        <div class = "column card-bloc well " data-toggle="collapse" data-target="#anchor<%=  list.id%>" > <%= list.title %>
          <div>
            <% list.cards.each do |card| %>
              <div class="card-block well" style="background-color: #94bf7a75">
                <div style="background-color: #94bf7a75" class="d7">
                  <div>
                   <div class="row">
                    <h5>
                      <span>
                      <%= card.title %>
                     </span>
                    </h5>
                   </div>
                   <div class="row">
                    <%= card.date %>
                   </div>
                  </div>
                  <div>
                    <div class="btn-group btn-group-justified">
                      <%= link_to edit_card_path(card),  remote: true do %>
                        <button type="button" class="btn btn-primary">Update</button>
                      <% end %>
                      <%= link_to card_path(card,dashboard_id: @dashboard.id), data: {:confirm => 'Are you sure?'},method: :delete,  remote: true do %>
                        <button type="button" class="btn btn-primary">Delete</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div id="anchor<%=list.id%>" class="collapse">
            <div class="btn-group row">
              <%= link_to list_path(list), data: {:confirm => 'Are you sure?'}, :method => :delete do %>
                <button type="button" class="btn btn-warning btn-xs">
                  Destroy
                </button>
              <% end %>
              <%= link_to edit_list_path(list),  remote: true do %>
                <button type="button" class="btn btn-primary btn-xs">
                  Update
                </button>
              <% end %>
            </div>
            <div class="row" style="margin-top: 3px">
              <%= link_to list_path(list) do %>
                <button type="button" class="btn btn-success btn-xs ">
                  Go to List
                </button>
              <% end %>
            </div>
            <div class="row" style="margin-top: 3px">
              <%= link_to new_card_path(list_id: list.id), remote: true do %>
                <button type="button" class="btn btn-success btn-xs ">
                  +Add new Card
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Trigger the modal with a button -->
      <%= link_to new_list_path(dashboard_id: @dashboard.id), remote: true do %>
        <button type="button" class="btn btn-info col-2 btn-sm" style="margin-top:15px">
          <span class="glyphicon glyphicon-plus  ">Add list</span>
        </button>
      <%end%>
    </div>
  <% end %>
</div>


